:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background-image: url(images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: 90% 230%;
}

.testimonial {
    width: 650px;
    height: 250px;
    position: absolute;
    font-weight: 300;
    color: var(--dark-blue);
    margin-top: 280px;
    margin-left: 150px;
    display: none;
}

.user-name {
    font-weight: 700;
    font-size: 20px;
    margin-top: 48px;
}

.user-status {
    font-size: 20px;
    margin-left: 145px;
    margin-top: -44px;
    color: gray;
}

.image {
    display: none;
}

.slide {
    height: 530px;
    width: auto;
    margin-left: 710px;
    margin-top: 140px;
    border-radius: 5px;
}

.controls {
    width: 120px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
    margin-left: 760px;
    margin-top: -35px;
    border: 1px solid gray;
    box-shadow: 10px 10px 10px #aaaaaa;
    background-color: white;
}

.prev {
    height: 40px;
    border-radius: 100px;
    margin-left: 18px;
    border: none;
}

.next {
    height: 40px;
    margin-left: 25px;
    margin-top: 11px;
    border-radius: 100px;
    border: none;
}

.attribution {
    position: absolute;
    font-size: 11px; text-align: center;
    border: 5px solid black;
    width: 380px;
    padding: 8px;
    margin-left: 500px;
    margin-top: 80px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}